#container {
    width: 100%;
}

#main_content {
    width: 23%;
    border: 1px solid black;
    margin: 30px;
    background-color: yellow;
}

#main_content:hover {
    transform: rotate(180deg);
}

#square {
    width: 100px;
    height: 100px;
    background: red;
    margin: 30px;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 1s;
}

#square:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}
@keyframes animation {
    from {
        height: 20%;
        width: 40%;
        transform: rotate(0deg);
    }

    to {
        height: 20%;
        width: 40%;
        transform: rotate(180deg);
    }
}

#filter img {
    margin: 30px;
    filter: grayscale(100%);
    filter: blur(5px);
    filter: opacity(30%);
}

#gallery {
    border: 1px solid #ccc;
}

#gallery:hover {
    border: 1px solid #777;
}

#gallery img {
    width: 100%;
}

#caption {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

#responsive {
    padding: 30px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 300px) {
    .responsive {
        width: 100%;
    }
}
@media only screen and (min-width: 800px) {
    .responsive {
        width: 25%;
    }
}