#container {
    width: 100%;
}

#main_content {
    width: 23%;
    border: 1px solid black;
    margin: 30px;
    background-color: yellow;
}

#main_content p {
    padding: 10px;
}

#main_content:hover {
    transform: rotate(180deg);
}

#square {
    width: 150px;
    height: 150px;
    background: red;
    margin: 30px;
}

#square:hover {
    animation: animation 2s infinite;
    transition-delay: 1s;
}

@keyframes animation {
    from {
        width: 150px;
        height: 150px;
        transform: rotate(0deg);
    }

    to {
        width: 300px;
        height: 300px;
        transform: rotate(180deg);
    }
}

#filter img {
    margin: 30px;
    filter: grayscale(100%);
    filter: blur(5px);
    filter: opacity(30%);
}


#gallery {
    border: 1px solid #ccc;
}

#gallery:hover {
    border: 1px solid #777;
}

#gallery img {
    width: 100%;
}

#caption {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

#gallery {
    padding: 0px;
    float: left;
    width: 15%;
}
@media screen and (max-width: 300px) and (min-width: 0px) {
    #gallery {
        width: 100%;
    }
}

@media screen and (max-width: 800px) and (min-width: 301px) {
    #gallery {
        width: 50%;
    }
}


@media screen and (min-width: 801px) {
    #gallery {
        width: 25%;
    }
}

#shadow-effect h1 {
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    float: left;
}

#shadow-image {
    margin-left: 300px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#description p {
    padding: 15px;
}